{{> header this}}
<div class="ContenedorCines" style="color: rgb(255, 0, 0);">
  {{#each peliculas}}
    <div class="Peliculas" id="{{this.idPeliculas}}">
      <p>{{this.nombre}}</p>
      <p>{{this.genero}}</p>
      <p>{{this.duracion}} Min</p>
      <p>{{this.hora}}</p>

      <button class="btn btn-primary" onclick="selectMovie([{{this.idPeliculas}}, {{this.idHorarios}}])"/>Ingresar
    </div>
  {{/each}}
</div>