 {{> header this}}
    <h2>Entradas Reservadas</h2>
    <p></p>
    
  {{#each entradas}}
    {{#if "this.Confirmo == 0"}}
        <div class="entradasreservadas">
      <h4>Entrada:</h4>
      <p>Nombre de la pelicula: {{this.Pelicula}}</p> {{!-- {{Nombre pelicula}} --}}
      <p>Cine: {{this.Cine}}</p> {{!-- {{Nombre cine}} --}}
      <p>Horario: {{this.Hora}}</p> {{!-- {Nombre horario}} --}}
    </div>
    <form action="/modificarentrada" method="GET" class="container-sm">
            <div class="mb-3 form-check" style="margin-top: 20px; ">
                <button  class="btn btn-primary">Modificar entrada</button>
            </div>
            <input type="hidden" name="NombrePelicula" value="{{this.Pelicula}}">
    </form>
    <div class="mb-3 form-check" style="margin-top: 20px; ">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" onclick="mostrarPopUp()">Eliminar entrada</button>
    </div>  
    {{/if}}
  {{/each}}
  <div id="popup" class="overlay">
    <div id="popupBody">
      <h2>Título de la ventana</h2>
        <a id="cerrar" href="#">&times;</a>
        <div class="popupContent">
          <p>Este es el contenido</p>
        </div>
    </div>
  </div>
    <form action="/usuarioinfo" method="GET" class="container-sm">
            <div class="mb-3 form-check" style="margin-top: 20px; ">
                <button  class="btn btn-primary">Volver</button>
            </div>
    </form>